@font-face {font-family: 'iconfont';
    src: url('../fonts/font_ico/iconfont.eot');
    src: url('../fonts/font_ico/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/font_ico/iconfont.woff') format('woff'),
    url('../fonts/font_ico/iconfont.ttf') format('truetype'),
    url('../fonts/font_ico/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.red_style{
    color:rgba(255,70,69,0.8);
    font-size:10px; 
}
html,body,#app,.el-container{
    height:100%;
    font-family:  "Microsoft YaHei";
}
.model_lay{
    height:100%;background:#fff;
}
.omitted{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}